section {

    .all {
        max-width: 50%;
        min-height: 100%;

        .input {
            display: grid;
            grid-template-columns: 4fr 1fr;
            gap: 10px;
        }

        .names {
            display: grid;
            grid-template-columns: 0fr 5fr;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            .blue {
                border-left: 6px solid #0d6efd;
                height: 35px;
            }
        }

        .now {
            display: grid;
            grid-template-columns: 0fr 5fr;

            .green {
                border-left: 6px solid #198754;
                height: 35px;
            }

            .name{
                font-size: 18px;
                span{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }


        }
    }
}


/* media query */
@media screen and (max-width: 450px) {
    section{
        .all{
            min-width: 100%;
        }
    }
}